@import "_variables.scss";
@import "_mixin.scss";

@include template;

main {
    a:hover {
        color: $text_color;
    }
    font-family: 'Trirong', serif;
    color: $text_color;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    margin: 1vh 0;
    font-size: 0.9rem;
    font-weight: 500;
    .ligne {     
        width: 100%;
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
        @media screen and (max-width: 769px) {
            flex-direction: column;
            margin-bottom: 0;
        }
        a {
            width: 49%;
            margin-bottom: 2%;
            @media screen and (max-width: 769px) {
                width: 100%;
                margin-bottom: 4%;
            }
        }
        .articles {
            height: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 5px $text_color;
            display: flex;
            border-radius: 15px;
            background-color: $objet_color;  
            flex-basis: 45%;
            padding: 2%;
            transition-duration: 400ms;
            &:hover {
                transition-duration: 400ms;
                box-shadow: -1px -1px 5px 0 $ico_color1,
                0px 0px 10px 0 $ico_color2,
                1px 1px 5px 0 $ico_color3;
            }
            .produit {
                display: flex;
                flex-direction: column;
                &-img {
                    width: 100%;     
                    height: 250px;    
                    @media screen and (min-width: 1920px) {
                        height: 350px;
                    }                 
                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-nomPrixAvis {
                    display: flex;
                    margin: 10px 15px 0;
                    flex-wrap: wrap;
                }
                &-nom {
                    font-size: 1rem;
                    flex-basis: 75%;
                    align-items: flex-start;
                    padding: 0;
                    margin: 0;

                    font-weight: 700;
                }
                &-prix {
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-start;
                    justify-content: flex-end;
                    flex-basis: 25%;
                }
                &-stars {
                    font-size: 1.05rem;
                    flex-basis: 100%;
                    .good {
                        color: $ico_color2;
                    }
                    .noGood {
                        color: $bg_color;
                    }
                }
            }
        }
    }
}