@import "_variables.scss";

body {
    padding: 0;
    margin: 0;
    background-color: $bg_color;
}

a {
    text-decoration: none;
    color: $text_color;
}

#container {
    font-family: 'Trirong', serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 750px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Finger Paint', cursive;
    font-weight: 800;
    color: $text_color;
    margin: 1vh 0 2% 0;
    background-color: $bg_color;
    #name { 
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 150px;
        flex-basis: 65%;
        border-radius: 25px;
        background-color: $objet_color;
        color: $title_color; 
        margin: 1vh 0;
        box-shadow: 0 0 5px $text_color;
        h1 {
            font-size: 2rem;
        }
        
    }

    .panier {
        color: $title_color;
        height: 150px;
        margin: 1vh 0;
        position: relative;
        flex-basis: 32%;
        flex-wrap: wrap;
        border-radius: 25px;
        background-color: $objet_color;
        box-shadow: 0 0 5px $text_color;
        i {
            background: linear-gradient(120deg, $ico_color1 15%, $ico_color2 50%, $ico_color3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            right: calc(50% - 4rem);
            top: calc(50% - 4rem);
            font-size: 8rem;
        }
        #counter {
            font-family: 'Trirong', serif;
            font-size: 2rem;
            position: absolute;
            top: 25%;
            right: calc(50% - 2rem); 
        }
        transition-duration: 400ms;
        &:hover {
            transition-duration: 400ms;
            box-shadow: -1px -1px 5px 0 $ico_color1,
            0px 0px 10px 0 $ico_color2,
            1px 1px 5px 0 $ico_color3;
        }
    } 
    
}

main {
    font-family: 'Trirong', serif;
    color: $text_color;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    margin: 1vh 0;
    font-size: 0.9rem;
    font-weight: 500;
    .ligne {     
        width: 100%;
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
        a {
            width: 49%;
            margin-bottom: 2%;
        }
        .articles {
            height: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 5px $text_color;
            display: flex;
            border-radius: 15px;
            background-color: $objet_color;  
            flex-basis: 45%;
            padding: 2%;
            transition-duration: 400ms;
            &:hover {
                transition-duration: 400ms;
                box-shadow: -1px -1px 5px 0 $ico_color1,
                0px 0px 10px 0 $ico_color2,
                1px 1px 5px 0 $ico_color3;
            }
            .produit {
                display: flex;
                flex-direction: column;
                &-img {
                    width: 100%;     
                    height: 250px;               
                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-nomPrixAvis {
                    display: flex;
                    margin: 10px 15px 0;
                    flex-wrap: wrap;
                }
                &-nom {
                    font-size: 1rem;
                    flex-basis: 75%;
                    align-items: flex-start;
                    padding: 0;
                    margin: 0;

                    font-weight: 700;
                }
                &-prix {
                    display: flex;
                    font-size: 1rem;
                    align-items: flex-start;
                    justify-content: flex-end;
                    flex-basis: 25%;
                }
                &-stars {
                    font-size: 1.05rem;
                    flex-basis: 100%;
                    .good {
                        color: $ico_color2;
                    }
                    .noGood {
                        color: $bg_color;
                    }
                }
            }
        }
    }
}

footer {
    box-shadow: 0 0 10px $text_color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 2%;
    background-color: #F3E9F1;
    .mode-de-payment {
        li {
            padding: 0;
            color: $ico_color3;
            font-size: 3rem; 
        }
    } 
    .liens-footer, .mode-de-payment {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        li {
            font-weight: 800;
            margin: 0 1rem;
            padding: 0;
            list-style-type: none;
            a {
                color: $text_color;
                &:hover {
                    color: $ico_color2;
                }
            }
          
        }
    }
}
