@import "_variables.scss";
@import "_mixin.scss";

@include template;

body {
    position: relative;
}



#popUnder {
    font-family: 'Trirong', serif;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9; 
    animation-name: slowPopUnder;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-fill-mode: both;
    @keyframes slowPopUnder {
        from {
            background-color: none;
        }
        to {
            background-color: rgba(0, 0, 0, 0.5)
        }
    }
    #accepter, #refuser {
        margin: 0 1rem;
        font-size: 1.5rem;
        padding: 0;
        border: 0;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
        &:focus + #popUnder {
            background-color: black;
        }
    }
    #accepter {
        color: $negative_color;
    }
    #refuser {
        color: $ico_color2;
    }
    &-body {
        display: flex;
        flex-direction: column;
        padding: 1%;
        background-color: $objet_color;
        position: absolute;
        top: 33%;
        left: 30%;
        width: 38%;
        z-index: 10;
        border-radius: 1rem;
        &-p {
            padding: 0;
            margin: 0 0 1rem;
            text-align: center;
        }
        &-btnVerification {   
            text-align: center;
        }
    } 
    
}



main {
    font-family: 'Trirong', serif;
    color: $text_color;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    margin: 1vh 0;
    font-size: 0.9rem;
    font-weight: 500;
    .panier {    
        h2 {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        #sommeTotal {
            margin: 0 auto 1rem;
            width: 80%;
            text-align: center;
            font-size: 1.5rem;
        }
        box-shadow: 0 0 5px $text_color; 
        width: 98%;
        display: flex;   
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2%;
        background-color: $objet_color;
        padding: 1%;
        border-radius: 25px;
        ol {
            min-height: 5vh;
            display: flex;
            flex-direction: column;
            counter-reset: compteur;  
            margin: 0 2rem;
            padding: 0;
        }
        .product {  // LI   
            position: relative;       
            list-style: none;
            flex-direction: row;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border-radius: 1rem;
            box-shadow: 0 0 5px $text_color; 
            &:before {
                position: relative;
                counter-increment: compteur;
                content:counter(compteur);
                color: $text_color;
                background: silver;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;   
                border-radius: 50%;
            }
            &-name {
                margin-left: 0.5rem;
                width: calc(90% - 0.5rem);
                white-space: nowrap;
                overflow: hidden ;
                text-overflow: ellipsis;
            }
            &-delete {
                color: $negative_color;
                border: none;
                padding: 0;
                font-size: 1rem;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            }
        }
        #commande {
            display: flex;
            flex-direction: column;
            margin: 0 2rem 2rem;
            padding: 1rem 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 5px $text_color; 
            #first-last-name {
                label {
                    display: flex;
                    flex-direction: column;
                    flex-direction: column;
                    width: 50%;
                }
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5rem;
                #firstName {
                    width: 90%;
                }
                #lastName {
                    width: 90%;
                }
            }
            #adress {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.5rem;
                label {
                    display: flex;
                    flex-direction: column;
                    flex-direction: column;
                    width: 100%;
                }
                #street {
                    width: 95%;
                }
                
            }
            #zipcode-ville {
                label {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5rem;
                #zipcode {
                    width: 90%;
                }
                #city {
                    width: 90%;
                }
                
            }
            #email {
                label {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 0.5rem;
                #mail {
                    width: 90%;                
                }
            }
            button {
                
                width: 50%;
                margin: 1rem auto;
            }
        }
    }
}