@import "_variables.scss";
@import "_mixin.scss";

@include template;

#popUnder {
    font-family: 'Trirong', serif;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9; 
    animation-name: slowPopUnder;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-fill-mode: both;
    @keyframes slowPopUnder {
        from {
            background-color: none;
        }
        to {
            background-color: rgba(0, 0, 0, 0.5)
        }
    }
    #accepter, #refuser {
        margin: 0 1rem;
        font-size: 1.5rem;
        padding: 0;
        border: 0;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
        &:focus + #popUnder {
            background-color: black;
        }
    }
    #accepter {
        color: $ico_color2;
    }
    #refuser {
        color: $negative_color;
    }
    &-body {
        display: flex;
        flex-direction: column;
        padding: 1%;
        background-color: $objet_color;
        position: absolute;
        top: 33%;
        left: 30%;
        width: 38%;
        z-index: 10;
        border-radius: 1rem;
        &-p {
            padding: 0;
            margin: 0 0 1rem;
            text-align: center;
        }
        &-btnVerification {   
            text-align: center;
        }
        &-btnClose {   
            text-align: right;
        }
    } 
    
}

main {
    font-family: 'Trirong', serif;
    color: $text_color;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    margin: 1vh 0;
    font-size: 0.9rem;
    font-weight: 500;
    .ligne {    
        box-shadow: 0 0 5px $text_color; 
        width: 98%;
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
        background-color: $objet_color;
        padding: 1%;
        border-radius: 25px;
        .articles {
            display: flex;
            flex-direction: column;
            img {
                width: 100%;
                max-height: 350px;
                object-fit:cover;
                object-position: center;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                // &:hover {
                //     animation-name: showPhoto;
                //     animation-duration: 8s;
                //     animation-iteration-count: infinite;
                //     animation-timing-function: ease-out;
                //     animation-fill-mode:forwards;
                // }
                // @keyframes showPhoto {
                //     25% {
                //         object-position: bottom; 
                //     }
                //     50% {
                //         object-position: top;
                //     }
                //     75% {
                //         object-position: center;
                //     }
                //   }
            }
            #produit {
                &-general {
                    padding: 3%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                &-nom {
                    font-size: 1.2rem;
                    padding: 0;
                    margin: 0;
                    flex-basis: 45%;
                }
                &-prix {
                    display: flex;
                    justify-content: flex-end;
                    flex-basis: 45%;
                    font-size: 1.2rem;
                }
                &-description {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 55%;
                    margin: 0;
                    padding: 0;
                }
                &-form {
                    display: flex;
                    flex-basis: 35%;
                    flex-direction: column;
                    .labelRadio {
                        
                    }
                }    
                &-notification {
                    width: 100%;
                    text-align: center;
                    font-style: italic;
                    &-goPanier {
                        text-decoration: underline;
                        width: 100%;
                        text-align: center; 
                        width: 100%;
                    }
                }   
            }
        }
    }
}