@import "_variables.scss";
@import "_mixin.scss";

@include template;
@include pop-under;

main {
    font-family: 'Trirong', serif;
    color: $text_color;
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    margin: 1vh 0;
    font-size: 0.9rem;
    font-weight: 500;
    .ligne {    
        box-shadow: 0 0 5px $text_color; 
        width: 98%;
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
        background-color: $objet_color;
        padding: 1%;
        border-radius: 15px;
        .articles {
            display: flex;
            flex-direction: column;
            img {
                width: 100%;
                max-height: 350px;
                object-fit:cover;
                object-position: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                // &:hover {
                //     animation-name: showPhoto;
                //     animation-duration: 8s;
                //     animation-iteration-count: infinite;
                //     animation-timing-function: ease-out;
                //     animation-fill-mode:forwards;
                // }
                // @keyframes showPhoto {
                //     25% {
                //         object-position: bottom; 
                //     }
                //     50% {
                //         object-position: top;
                //     }
                //     75% {
                //         object-position: center;
                //     }
                //   }
            }
            #produit {
                &-general {
                    padding: 2%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                &-nom {
                    font-size: 1.2rem;
                    padding: 0;
                    margin: 0;
                    flex-basis: 45%;
                }
                &-prix {
                    display: flex;
                    justify-content: flex-end;
                    flex-basis: 45%;
                    font-size: 1.2rem;
                }
                &-description {
                    padding: 1%;
                    border-radius: 10px;
                    box-shadow: 0 0 5px $text_color; 
                    display: flex;
                    flex-direction: column;
                    flex-basis: 55%;
                    margin: 0;
                    @media screen and (max-width: 700px) {
                        flex-basis: 100%;
                        margin-bottom: 2vh;
                    }
                }
                &-form {
                    padding: 1%;
                    border-radius: 10px;
                    box-shadow: 0 0 5px $text_color; 
                    display: flex;
                    flex-basis: 35%;
                    flex-direction: column;
                    @media screen and (max-width: 700px) {
                        flex-basis: 100%;
                    }
                    .labelRadio {
                        
                    }
                    #produit-form-post {
                        font-family: 'Trirong', serif;
                        cursor: pointer;
                        border: 0;
                        border-radius: 10px;
                        color: $text_color;
                        font-weight: 700;
                        background: $ico_color2;
                        padding: 4px;
                        width: 60%;
                        margin: 0 auto 5px;
                        // background: linear-gradient(180deg, $ico_color1 30%, $ico_color2 70%, $ico_color3);
                        background: $ico_color3;
                        transition: 200ms;
                        &:hover {
                            background: $ico_color2;
                        }
                    }
                }    
                &-notification {
                    width: 100%;
                    text-align: center;
                    font-style: italic;
                    &-goPanier {
                        text-decoration: underline;
                        width: 100%;
                        text-align: center; 
                        width: 100%;
                    }
                }   
            }
        }
    }
}