body {
    padding: 0;
    margin: 0;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 50%;
    #articles {
        font-size: 1.2rem;
    }
}
